:root {
    --Strongcyan: hsl(172, 67%, 45%);
    --Verydarkcyan: hsl(183, 100%, 15%);
    --Darkgrayishcyan: hsl(186, 14%, 43%);
    --Grayishcyan: hsl(184, 14%, 56%);
    --Lightgrayishcyan: hsl(185, 41%, 84%);
    --Verylightgrayishcyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}



body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: var(--Lightgrayishcyan);
    font-family: 'Space Mono', monospace;
    color: var(--Darkgrayishcyan);
    height: 100vh;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    width: 100vw;
    border-top-left-radius:   25px;
    border-top-right-radius:   25px;
    padding-bottom: 2em;

}

.calculator {
    width: 91%;
    margin: 1.3em 0 0 0;
  
}

h4 {
    text-align: left;
    margin: 0.8em 0;
}

input[type="number"] {
    font-size: 24px;
    border: none;
    background-color: var(--Verylightgrayishcyan);
    padding: 0.2em 0.6em;
    width: 90%;
    text-align:right;
    color: var(--Verydarkcyan);
    font-weight: 700;
    position: relative;

}

input[type="text"] {
    font-size: 16px;
    background-color: var(--Verylightgrayishcyan);
    color: var(--Grayishcyan);
    border: none;
    border-radius: 5px;
    padding: 0.4em 0.5em;
    width: 40%;
    max-height: 28px;
    text-align: right;
    cursor: pointer;
    margin: 0.2em 0;
}

input:focus{
    outline: none;
}

input::placeholder {
    font-size: 16px;
    color: var(--Grayishcyan);


}

form > img {
    margin: 12px;
    position: absolute;
    z-index: 2;
  
}

.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tips > button {
    margin: 0.2em 0;
}

.five,
.ten,
.fifteen,
.twentyfive,
.fifty {
    background-color: var(--Verydarkcyan);
    border: none;
    border-radius: 5px;
    padding: 0.4em 0.5em;
    color: var(--White);
    width: 44%;
    text-align: center;
    cursor: pointer;
    max-height: 28px;
}



.tips > button:active {
    background-color: var(--Strongcyan);
}

.tips > button:focus {
    background-color: var(--Strongcyan);
}

button:hover {
    background-color: var(--Strongcyan);
}




.output {
    background-color: var(--Verydarkcyan);
    border-radius: 25px;
    width: 80%;
    padding: 1.5em 1.5em;
    margin: 1.3em 0 0 0;

}

.tipInfo > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tipInfo > div > h4 {
    color: var(--White);
}

.tipInfo > div > h4 > span {
    color: var(--Grayishcyan);
    font-weight: 100;
    font-size: smaller;
}

.tip, .total {
    color: var(--Strongcyan);
    font-size: x-large;
    font-weight: 700;
}


.reset {
    background-color: var(--Strongcyan);
    color:  var(--Verydarkcyan);
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    padding: 0.5em 0;
    margin: 0.8em 0 0 0;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    body {
        justify-content: center;
    }

    main  {
        flex-direction: row;
        width: 50vw;
        border-radius: 25px;
        justify-content: space-evenly;

    }

    .calculator {
        width: 40%;
    }

    .output {
        width: 40%;
    }
}

